@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Empréstimo de Livro Online</h1>
    <p>Compartilhe conhecimentos</p>
    <div>
        <img  src="/img/coelho.png"/>
    </div>
   </div>
